{# 
   Lekki szablon układu strony dla stron logowania
   Używany dla stron wymagających minimalnego interfejsu
#}
<!DOCTYPE html>
<html lang="{{ LNG.language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ gameName }} - {{ pageTitle }}</title>
    
    {# Podstawowe style CSS #}
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fontawesome-all.min.css') }}">
    
    {# Favicon #}
    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}">
    
    {# Meta tagi #}
    <meta name="description" content="{{ LNG.server_description }}">
    <meta name="keywords" content="game, browser game, gra przeglądarkowa, kosmos, galaktyka">
    <meta name="author" content="2Moons Team">
    
    {# Dodatkowe style specyficzne dla strony #}
    {% block stylesheets %}{% endblock %}
    
    {# Skrypty JavaScript w nagłówku #}
    <script>
        var serverTime = {{ serverTime }};
        var serverTimezone = {{ serverTimezone }};
        var serverDelta = 0;
    </script>
</head>
<body class="login-page {% block bodyClass %}{% endblock %}">
    <div class="login-wrapper">
        {# Nagłówek strony #}
        <header class="login-header">
            <div class="logo">
                <a href="{{ url('index.php') }}">
                    <img src="{{ asset('images/logo.png') }}" alt="{{ gameName }}">
                </a>
            </div>
            
            {# Wybór języka #}
            <div class="language-selector">
                <form action="" method="get" id="lang-form">
                    <select name="lang" id="lang" onchange="document.getElementById('lang-form').submit();">
                        {% for langKey, langName in availableLanguages %}
                            <option value="{{ langKey }}" {% if LNG.language == langKey %}selected{% endif %}>
                                {{ langName }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </header>
        
        {# Główna zawartość strony #}
        <main class="login-content">
            {% if message is defined and message %}
                <div class="message {{ messageClass|default('info') }}">
                    {{ message }}
                </div>
            {% endif %}
            
            {% block content %}{% endblock %}
        </main>
        
        {# Stopka strony #}
        <footer class="login-footer">
            <div class="copyright">
                &copy; {{ "now"|date("Y") }} {{ gameName }}
            </div>
            <div class="links">
                <a href="{{ url('index.php?page=rules') }}">{{ LNG.menu_rules }}</a> |
                <a href="{{ url('index.php?page=imprint') }}">{{ LNG.menu_imprint }}</a>
            </div>
            <div class="powered-by">
                Powered by <a href="https://github.com/2moons/2moons" target="_blank">2Moons</a>
                {% if version is defined %}v{{ version }}{% endif %}
            </div>
        </footer>
    </div>
    
    {# Podstawowe skrypty JavaScript #}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/login.js') }}"></script>
    
    {# Dodatkowe skrypty specyficzne dla strony #}
    {% block javascripts %}{% endblock %}
</body>
</html>
{# 
   Bazowy szablon dla stron logowania
   Definiuje podstawową strukturę HTML
#}
<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - {{ LNG.game_name }}</title>
    
    <!-- Meta tagi -->
    <meta name="description" content="{{ LNG.meta_description }}">
    <meta name="keywords" content="{{ LNG.meta_keywords }}">
    <meta name="author" content="{{ LNG.meta_author }}">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    
    <!-- Style CSS -->
    <link rel="stylesheet" href="styles/login/main.css">
    <link rel="stylesheet" href="styles/login/responsive.css">
    
    {% block additional_styles %}{% endblock %}
    
    <!-- Skrypty JavaScript -->
    <script src="scripts/login/jquery.min.js"></script>
    <script src="scripts/login/main.js"></script>
    
    {% block additional_scripts %}{% endblock %}
</head>
<body class="{% block bodyClass %}{% endblock %}">
    <div class="login-wrapper">
        <header class="main-header">
            <div class="logo">
                <a href="index.php">
                    <img src="styles/images/logo.png" alt="{{ LNG.game_name }}">
                </a>
            </div>
        </header>
        
        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
    </div>
    
    {% block footer_scripts %}{% endblock %}
</body>
</html>